{% extends '@EspritFamycity/Default/home.html.twig' %}
  {% block mainContent %}
      <section class="content-header" xmlns="http://www.w3.org/1999/html">
          <div class="row">
              <div class="col-md-12">
                  <!-- Box Comment -->
                  <div class="box box-widget">
                      <div class="box-header with-border">
                          <div class="user-block">
                              <img class="img-circle" src="{{asset('Famicity/dist/img/med.jpg')}}" alt="User Image">
                              <span class="username"><a href="#">{{ m.createur.nom }} {{ m.createur.prenom }}</a></span>
                              <span class="description">Shared publicly - {{ m.pubDate |date("m/d/Y") }}</span>
                          </div>
                          <!-- /.user-block -->
                          <div class="box-tools">
                              <a href="{{ path('editSinglePostShow',{'idPost':m.idPublication})}}"> <button type="button" class="btn btn-box-tool" data-widget="edit"><i class="fa fa-edit"></i></button></a>
                              <a href="{{ path('deleteSinglePost',{'idPost':m.idPublication})}}"> <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button></a>

                          </div>
                          <!-- /.box-tools -->
                      </div>
                      <!-- /.box-header -->
                      {% set coms = m.getComments() %}
                      {% set likers = m.getParticipants() %}
                      {% if m.type == 'Image' %}
                          <div class="box-body">
                              <img class="img-responsive pad" src="{{asset('Famicity/dist/img/photo1.png"')}}" alt="Photo" >
                              <form action="{{ path('editSinglePost',{'idPost':m.idPublication})}}" method="post">
                                  <div class="input-group input-group-sm">
                                      <input type="text" class="form-control" name ="libelle" value="{{ m.libelle }} ">
                                      <span class="input-group-btn">
                                           <button type="submit" class="btn btn-info btn-flat">OK</button>
                                        </span>
                                  </div>
                              </form>


                              <a href="{{ path('likePost',{'idPost':m.idPublication})}}"><button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i>{{ likers|length }}  Like</button></a>
                              <span class="pull-right text-muted">{{ coms|length }} comments</span>
                          </div>

                      {% elseif m.type == 'Text' %}
                      <div class="box-body">
                          <form action="{{ path('editSinglePost',{'idPost':m.idPublication})}}" method="post">
                              <div class="input-group input-group-sm">
                                  <input type="text" class="form-control" name ="libelle" value="{{  m.libelle }}">
                                  <span class="input-group-btn">
                                           <button type="submit" class="btn btn-info btn-flat">OK</button>
                                        </span>
                              </div>
                          </form>
                          <ul class="list-inline">

                              <li><a href="{{ path('likePost',{'idPost':m.idPublication})}}" class="link-black text-sm"><i class="fa fa-thumbs-o-up margin-r-5"></i> {{ likers|length }} Like</a>
                              </li>
                              <li class="pull-right">
                                  <a href="#" class="link-black text-sm"><i class="fa fa-comments-o margin-r-5"></i> Comments
                                      ({{ coms|length }})</a></li>
                          </ul>
                          </div>
                      {% else %}
                      <div class="box-body">

                          <p>
                          <form action="{{ path('editSinglePost',{'idPost':m.idPublication})}}" method="post">
                              <div class="input-group input-group-sm">
                                  <input type="text" class="form-control" name ="libelle" value="{{  m.libelle  }}">
                                  <span class="input-group-btn">
                                           <button type="submit" class="btn btn-info btn-flat">OK</button>
                                        </span>
                              </div>
                          </form>
                          </p>
                          <div class="timeline-item">

                              <div class="timeline-body">
                                  <div class="embed-responsive embed-responsive-16by9">
                                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ m.videoSrc }}" frameborder="0" allowfullscreen></iframe>
                                  </div>
                              </div>
                              <br>
                              <ul class="list-inline">

                                  <li><a href="{{ path('likePost',{'idPost':m.idPublication})}}" class="link-black text-sm"><i class="fa fa-thumbs-o-up margin-r-5"></i> {{ likers|length }} Like</a>
                                  </li>
                                  <li class="pull-right">
                                      <a href="#" class="link-black text-sm"><i class="fa fa-comments-o margin-r-5"></i> Comments ({{ coms|length }})
                                      </a></li>
                              </ul>

                          </div>



                      {% endif %}

                      <!-- /.box-body -->
                      {% for com in m.comments %}

                      <div class="box-footer box-comments">
                          <div class="box-comment">
                              <!-- User image -->
                              <img class="img-circle img-sm" src="../dist/img/user3-128x128.jpg" alt="User Image">

                              <div class="comment-text">
                      <span class="username">
                        {{ com.owner.nom }} {{ com.owner.prenom }}
                        <span class="text-muted pull-right">{{ com.created|date("m/d/Y") }}</span>
                      </span><!-- /.username -->
                                  {{ com.comment }}
                              </div>
                              <!-- /.comment-text -->
                          </div>

                          <!-- /.box-comment -->
                      </div>
                      {% endfor %}
                      <!-- /.box-footer -->
                      <form action="{{ path('CommentPost',{'idPost':m.idPublication})}}" method="post">
                          <div class="input-group input-group-sm">
                              <input type="text" class="form-control" name ="comPub" placeholder="Type a Comment ">
                              <span class="input-group-btn">
                                           <button type="submit" class="btn btn-info btn-flat">OK</button>
                                        </span>
                          </div>
                      </form>
                      <!-- /.box-footer -->
                  </div>
                  <!-- /.box -->
              </div>
      </section>


  {% endblock %}